input.inputs{
  border-radius: 0 !important;
  color: gray !important;

  &:focus{
    outline: none;
    border: 1px solid #82bf2e !important;
    box-shadow: 0 0 3px rgba(131, 191, 46, 0.603) !important;
  }

  &:read-only{
    background-color: #e7e3e3;
  }
}

select.inputs{
  border: none;

  &:focus{
    outline: none;
    border: 1px solid #82bf2e !important;
    box-shadow: 0 0 3px rgba(131, 191, 46, 0.603) !important;
  }
}